@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

@layer components {
  .headerBtn {
    background-color: #7d54f8;
    color: #fff;
    border: none;
    transition: 0.3s;
  }

  .headerBtn:hover {
    background-color: #7d54f8;
    box-shadow: 0 0 0 5px #7d54f85f;
    color: #fff;
  }

  .btn {
    --color: #7d54f8;
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    color: var(--color);
  }

  .btn:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }

  .btn:hover {
    color: #fff;
  }

  .btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }

  .btn:hover:before {
    top: -30px;
    left: -30px;
  }

  .btn:active:before {
    background: #7d54f8;
    transition: background 0s;
  }
}
